gunicorn
langchain==0.0.350
langchain-community==0.0.6
langchain-core==0.1.3
langchain-google-genai==0.0.5
requests==2.31.0
google-cloud-firestore==2.14.0
google-cloud-aiplatform==1.39.0
google-cloud-secret-manager
google-ai-generativelanguage==0.4.0
gcloud==0.17.0
python-multipart
pypdf
chromadb
Jinja2
fastapi~=0.110.0
uvicorn~=0.27.1
starlette~=0.36.3